<!DOCTYPE html>
<html lang="en">
<head>
<title>Tidder</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
<link href="css/bootstrapTemplate.css" rel="stylesheet">
<script src="js/MainPage.js"></script>
<script src="scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>


</head>
<body ng-app="Tidder">

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-2 sidenav">
				<h4>Tidder</h4>
				<p>
					Name: <input type="text" ng-model="name">
				</p>
				<p ng-bind="name"></p>
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="#section1">Home</a></li>
					<li><a href="#section2">Friends</a></li>
					<li><a href="#section3">Family</a></li>
					<li><a href="#section3">Photos</a></li>
				</ul>
				<br>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search Blog..">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</div>

			<!--    <div class="col-sm-9" ng-controller="MainPageController"> -->
			<div class="col-sm-9" ng-controller="PaginationMyController" ng-init="init()">
				<h4>
					<small>RECENT POSTS</small>
				</h4>

				<div ng-model="mydata"></div>

				<!-- <div ng-repeat="x in mydata.slice( ((currentPage-1)*itemsOnPageAmount), (currentPage * itemsOnPageAmount))"> -->
				<div class="comment"
					ng-repeat="x in mydata.slice( (currentPage-1) * ItemsOnPageAmount, currentPage * ItemsOnPageAmount)  track by $index">
					<hr>
					<h2>{{x.topic}}</h2>
					<h5>
						<span class="glyphicon glyphicon-time"></span> Post by
						{{x.user.name}}, {{ x.date }}.
					</h5>
					<h5>
						<span class="label label-danger">Food</span> <span
							class="label label-primary">Ipsum</span>
					</h5>
					<br>
					<p>{{ x.text }}</p>

					
					<div class="col-xs-11">
			
				
							<div class="button" >
								<!-- <span class="btn" ng-click="x.data = getCommentById(x.id)">View Comments</span> -->
								<span class="btn" ng-click="commentVisible = !commentVisible" >View Comments</span>
								<div ng-show="commentVisible" ng-repeat="temp in temporar[x.id].comments")>
									<u>@{{temp.user.name}}: {{temp.text}} <strong>{{temp.date}}</strong></u>
								</div>
							<!-- 	<p>x.id {{x.id}}</p>
								<p>Here are comments for post{{x.comments}}</p>
								<p>Temp: {{x.data}}</p>
								<p>temporar: {{temporar[x.id]}} "</p> THis is WOrking -->
							</div>
					</div>
					<div class="col-xs-1"></div>
					<br>
				</div>
				<div uib-pagination total-items="mydata.length"
					ng-model="currentPage" ng-change="setCurrentPage(currentPage)"
					items-per-page="ItemsOnPageAmount"></div>

				<h4>Leave a Comment:</h4>
				<form role="form">
					<div class="form-group">
						<textarea class="form-control" rows="3" required></textarea>
					</div>
					<button type="submit" class="btn btn-success">Submit</button>
				</form>
				<br> <br>

				<p>
					<span class="badge">2</span> Comments:
				</p>
				<br>

				<div class="row">
					<div class="col-sm-2 text-center">
						<!-- <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">-->
					</div>
					<div class="col-sm-10">
						<h4>
							Anja <small>Sep 29, 2015, 9:12 PM</small>
						</h4>
						<p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum
							dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
						<br>
					</div>
					<div class="col-sm-2 text-center">
						<!-- <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">-->
					</div>
					<div class="col-sm-10">
						<h4>
							John Row <small>Sep 25, 2015, 8:25 PM</small>
						</h4>
						<p>I am so happy for you man! Finally. I am looking forward to
							read about your trendy life. Lorem ipsum dolor sit amet,
							consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua.</p>
						<br>
						<p>
							<span class="badge">1</span> Comment:
						</p>
						<br>
						<div class="row">
							<div class="col-sm-2 text-center">
								<img src="bird.jpg" class="img-circle" height="65" width="65"
									alt="Avatar">
							</div>
							<div class="col-xs-10">
								<h4>
									Nested Bro <small>Sep 25, 2015, 8:28 PM</small>
								</h4>
								<p>Me too! WOW!</p>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>

	<footer class="container-fluid">
		<p>Footer Text</p>
	</footer>

</body>
</html>
